@use './reset' as *;
@use './typo' as *;
@use './colors' as *;

.heading {
  @include DMSans(700, 2rem);
  margin-bottom: 8px;
  color: $bridesmaid;
}

.description {
  @include DMSans(500, 1rem);
  margin-bottom: 20px;
  color: $pale-sky;
}

.label {
  @include DMSans(700, 0.875rem);
}

.small-text {
  @include DMSans(400, 0.625rem);
}

.price-text {
  @include DMSans(400, 0.75rem);
}
