@use './reset' as *;
@use './fonts' as *;
@use './colors' as *;

.heading {
  @include DMSans(700, 32px);
  margin-bottom: 8px;
  color: $bridesmaid;
}

.description {
  @include DMSans(500, 16px);
  margin-bottom: 20px;
  color: $pale-sky;
}

.name {
  @include DMSans(700, 16px);
  color: $bridesmaid;
}

.rating {
  @include DMSans(700, 14px);
  color: $bridesmaid;
  margin-left: 4px;
}

.price {
  @include DMSans(700, 14px);
  background-color: $skeptic;
  border-radius: 4px;
  padding: 4px 8px;
  color: $shark;
}

.nb-of-votes {
  @include DMSans(700, 14px);
  color: $pale-sky;
  margin-left: 4px;
}

.sold-out {
  @include DMSans(700, 14px);
  color: $burnt-sienna;
}

.label {
  @include DMSans(700, 10px);
  color: $cocoa-brown;
}
