@use '../tools/colors' as *;

.card {
  position: relative;
  img {
    border-radius: 12px;
  }
  .name-price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 8px;
  }
}

.rating-votes-container {
  display: flex;
  align-items: center;
}

.information-container {
  display: flex;
  justify-content: space-between;
}

.popular {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: $cream-can;
  border-radius: 12px;
  padding: 4px 12px;
}