.coffee-list {
  display: flex;
  flex-wrap: wrap; /* Permet le retour à la ligne */
  justify-content: center; /* Centre les éléments horizontalement */
  gap: 32px; /* Ajoute un espacement entre les éléments */
  margin: auto; /* Centre la div */
}
