@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
button {
  color: #FEF7EE;
  padding: 8px 12px !important;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-right: 12px;
}
button:focus, button.active {
  background-color: #4E5562;
  outline: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

fieldset,
button {
  border: none;
  background: none;
}

/* inputs */
input,
button,
textarea,
select {
  font-style: inherit;
  -webkit-padding-start: 0;
  align-items: flex-start;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit],
button {
  cursor: pointer;
}

.heading {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 8px;
  color: #FEF7EE;
}

.description {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  color: #6F757C;
}

.name {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FEF7EE;
}

.rating {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FEF7EE;
  margin-left: 4px;
}

.price {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  background-color: #BEE3CC;
  border-radius: 4px;
  padding: 4px 8px;
  color: #1B1D1F;
}

.nb-of-votes {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #6F757C;
  margin-left: 4px;
}

.sold-out {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #EE735D;
}

body {
  background-color: #111315;
  display: flex;
  justify-content: center;
}

.background-img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100vw;
  height: 300px;
  background-image: url(/assets/bg-cafe-lg.jpg);
}
@media (max-width: 1024px) {
  .background-img {
    background-image: url(/assets/bg-cafe.jpg);
  }
}
@media (max-width: 640px) {
  .background-img {
    background-image: url(/assets/bg-cafe.jpg);
  }
}

.card img {
  border-radius: 12px;
}
.card .name-price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 8px;
}

.rating-votes-container {
  display: flex;
  align-items: center;
}

.information-container {
  display: flex;
  justify-content: space-between;
}

.coffee-list {
  display: flex;
  flex-wrap: wrap; /* Permet le retour à la ligne */
  justify-content: center; /* Centre les éléments horizontalement */
  gap: 32px; /* Ajoute un espacement entre les éléments */
  margin: auto; /* Centre la div */
}

.header {
  width: 480px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin-bottom: 40px;
}
.header-container {
  display: flex;
  justify-content: center;
}

.collection {
  width: 1094px;
  height: 855px;
  background-color: #1B1D1F;
  z-index: 2;
  position: relative;
  border-radius: 12px;
  padding: 80px 124px;
}
@media (max-width: 1024px) {
  .collection {
    width: 944px;
    padding: 80px 40px;
  }
}
@media (max-width: 960px) {
  .collection {
    width: 372px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px 40px;
    margin: 80px 20px;
  }
}/*# sourceMappingURL=style.css.map */